<main>
  <form [formGroup]="form" class="login-form">
    <h1 class="login-title">Enter with your account</h1>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="form.get('email')?.hasError('required')">Email é obrigatório</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">Email é inválido</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="**********">
    </mat-form-field>
    <div class="buttons-container">
      <button mat-button class="recover-password" test-id="recover-password-button" [disabled]="form.get('email')?.invalid">Recover
        password</button>
      <button mat-raised-button color="primary" test-id="login-button" [disabled]="form.invalid">LOGIN</button>
      <button mat-stroked-button color="primary">REGISTER</button>
    </div>
  </form>
</main>
